{{#images.0}}
<form name="upload" method="post" action="/image/post/{{postId}}" enctype="multipart/form-data">
<input type="hidden" name="_method" value="update"/>
	{{#images}}
		<img src = "{{imageURL}}" class="profileImage"/>
	{{/images}}
	<br><input type="file" name="files" accept="image/png, image/jpg" multiple = "multiple">
	<br><input type="submit" value="수정하기">
</form>
{{/images.0}}

{{^images.0}}
<form name="upload" method="post" action="/image/post/{{postId}}" enctype="multipart/form-data">
	{{#images}}
		<img src = "{{imageURL}}" class="profileImage"/>
	{{/images}}
	<br><input type="file" name="files" accept="image/png, image/jpg" multiple = "multiple">
	<br><input type="submit" value="업로드">
</form>
{{/images.0}}

<form method="post" action="/image/post/{{postId}}">
	<input type="hidden" name="_method" value="delete"/>
	<input type="submit" value="삭제">
</form>