<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> 관리자 페이지.</h1>
{{^userList}}
<p style="text-align: center"> 회원이 존재하지 않습니다.</p>
{{/userList}}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">userName</th>
            <th scope="col">Name</th>
            <th scope="col">Phone_Number</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {{#userList}}
        <tr>
            <th scope="row">{{userList.username}}</th>
            <td>{{userList.name}}</td>
            <td>{{userList.email}}</td>
            <td>{{userList.PhoneNum}}</td>
        </tr>
        {{/userList}}
        </tbody>
    </table>
{{/userList}}

</body>
</html>