<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
	{{>layout/header}}
    <link rel="stylesheet" href="/css/detail-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">

    <style>
        #main_container {
            /*height: 6000px;*/
        }
         .swiper-container {
             width:90%;
             height:90%;
             border:5px solid silver;
             border-radius:7px;
             box-shadow:0 0 20px #ccc inset;
         }
        .swiper-slide {
            text-align:center;
            display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
            align-items:center; /* 위아래 기준 중앙정렬 */
            justify-content:center; /* 좌우 기준 중앙정렬 */
        }
        .swiper-slide img {
            box-shadow:0 0 5px #555;
        }

        .comment-btn{
            font-weight: bold;
            font-size: 14px;
            color:#3897f0;
            position: absolute;
            right: 20px;
            top: 50%;
            transform:translateY(-50%);
            cursor: pointer;
            opacity: 0.6;
        }

        .comment-btn{
            opacity: 1;
        }
    </style>
</head>
<body>


<section id="container">

    {{>layout/navigator}}
    {{#post}}
    <div id="main_container">

        <section class="b_inner">

            <div class="contents_box">

                <article class="contents cont01">

                    <div class="img_section">
                        <div class="trans_inner">
                            <div class="swiper-container swiper1">
                                <div class="swiper-wrapper">
                                    {{#images}}
                                    <div class="swiper-slide"><img src="{{imageURL}}"></div>
                                    {{/images}}
                                </div>

                                <!-- 네비게이션 버튼 -->
                                <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                                <div class="swiper-button-prev"></div><!-- 이전 버튼 -->

                                <!-- 페이징 -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>


                    <div class="detail--right_box">

                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <img src="{{user.profileImage}}" alt="">
                                </div>
                                <div class="user_name">
                                    <div class="nick_name">{{user.username}}</div>
                                    <div class="country">Seoul, South Korea</div>
                                </div>
                            </div>
                            <div class="sprite_more_icon" data-name="more">
                                <ul class="more_detail">
                                    <li>팔로우</li>
                                    <li>수정</li>
                                    <li>삭제</li>
                                </ul>
                            </div>

                        </header>

                        <section class="scroll_section">
                            <div class="admin_container">
                                <div class="admin"><img src="{{user.profileImage}}" alt="user"></div>
                                <div class="comment">
                                    <span class="user_id">{{user.username}}</span>{{content}}
                                    <div class="time">{{createdDate}}</div>
                                </div>
                            </div>

                            {{#comments}}
                            <div class="user_container-detail">
                                <div class="user"><img src="{{user.profileImage}}" alt="user"></div>
                                <div class="comment">
                                    <span class="user_id">{{user.username}}</span>{{content}}
                                    <div class="time">{{formattedCreatedDate}} <!--<span class="try_comment">답글 달기</span>--></div>
                                    <div class="icon_wrap">
                                        <div class="more_trigger">
                                            <div class="sprite_more_icon"></div>
                                        </div>
                                        <div>
                                           <!-- <div class="sprite_small_heart_icon_outline"></div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/comments}}
                        </section>

                        <div class="bottom_icons">
                            <div class="left_icons">
                                <div class="heart_btn" id = "heart_btn">
                                   <div class = "#" id = "heart-icon" data-name="heartbeat"></div>
                                </div>
                                <input type="hidden" style="display: none" id = "like-url" value="/api/likes/posts/{{id}}">
                                <div style = "display:none"><span id = "liked">{{#liked}}like{{/liked}}{{^liked}}dislike{{/liked}}</span></div>

                                <!--
                                <div>
                                    <div class="sprite_bubble_icon"></div>
                                </div>
                                <div>
                                    <div class="sprite_share_icon" data-name="share"></div>
                                </div>
                                -->
                            </div>

                            <div class="right_icon">
                               <!-- <div class="sprite_bookmark_outline" data-name="book-mark"></div>-->
                            </div>
                        </div>

                        <div class="count_likes">
                            좋아요
                            <span class="count" id = "like-count">{{likeCnt}}</span>
                            개
                        </div>
                        <div class="timer">{{createdDate}}</div>

                        <div class="commit_field">
                            <input id ="commentInput" type="text" placeholder="댓글달기..">
                            <input type="hidden" id="comment-url" value="/api/posts/{{id}}/comments">
                            <div class="comment-btn">게시</div>
                        </div>



                    </div>


                </article>


            </div>


        </section>

    </div>
    {{/post}}


    <div class="del_pop">
        <div class="btn_box">
            <div class="del">삭제</div>
            <div class="cancel">취소</div>
        </div>
   </div>

</section>
{{>layout/footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

<script>
    new Swiper('.swiper1', {
        pagination : { // 페이징 설정
            el : '.swiper-pagination',
            clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
        },
        navigation : { // 네비게이션 설정
            nextEl : '.swiper-button-next', // 다음 버튼 클래스명
            prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
        },
    });

    $("#heart_btn").click(like);
    var heart_btn = $("#heart_btn");
    var like_url = $("#like-url").val();
    var like_count = $("#like-count");
    var heart_icon = $("#heart-icon");
    function like(e){
        console.log("좋아요 버튼 클릭");
        console.log("좋아요 url: "+like_url);

        e.preventDefault();

        $.ajax({
            type: 'get',
            url: like_url,
            async: false,
            error: onError,
            success: onSuccess
        });
    }

    function onError(){}
    function onSuccess(response){
        console.log(response);
        if(response == 0 ){
            heart_icon.attr("class", 'sprite_heart_icon_outline');
            like_count.text(eval(parseInt(like_count.text())-1));
        }else if(response > 0){
            heart_icon.attr("class", 'sprite_heart_icon');
            like_count.text(eval(parseInt(like_count.text())+1));

        }else{
            alert("권한이 없는 접근입니다.");
        }
    }
    window.onload = function (){
        var heart = $("#heart-icon");
        var liked = $("#liked").text();
        console.log(liked);
        console.log(typeof(liked));
        if(liked=="like"){
            heart.attr("class","sprite_heart_icon");
        }else if(liked=="dislike"){
            heart.attr("class","sprite_heart_icon_outline");
        }
    }
</script>
<script type="text/template" id = "commentTemplate">
    <div class="user_container-detail">
        <div class="user"><img src="{0}" alt="user"></div>
        <div class="comment">
            <span class="user_id">{1}</span>{2}
            <div class="time">{3} <!--<span class="try_comment">답글 달기</span>--></div>
            <div class="icon_wrap">
                <div class="more_trigger">
                    <div class="sprite_more_icon"></div>
                </div>
                <div>
                  <!--  <div class="sprite_small_heart_icon_outline"></div>-->
                </div>
            </div>
        </div>
    </div>
</script>
<script src="/js/comment.js"></script>

</body>
</html>