<!DOCTYPE html>
<html>
<head>
	{{>layout/header}}
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
	<section id="container">
	
    {{>layout/navigator}}
	
	<div id="main_container">
	<div class="editor">
		<ul class="edit_ul">
			<li><a class="edit_a" href="/edit/profile">프로필 편집</a></li>
			<li><a class="edit_a edit_selected" href="/edit/password">비밀번호 변경</a></li>
		</ul>
		<article class="editor_article">
		{{#user}}
			<div class="profile_and_name">
				<div class="edit_profile">					
				{{#ImageURL}}
					<img src = "{{ImageURL}}" class="profileImage"/><br>
				{{/ImageURL}}
				{{^ImageURL}}		
					<img src = "/images/defaultImage.jpg"  class="profileImage"/><br>
				{{/ImageURL}}
				</div>
				<div class="edit_name">
					<h1>{{username}}</h1>
				</div>
			</div>
		{{/user}}
			<div class="form">
                <form>
                    <div class="edit_user">
                   		<aside><label for="prevpassword">이전 비밀번호</label></aside>
                        <input type="password" id="prevpassword"/><br/>
                    </div>
                    <div class="edit_user">
                   		<aside><label for="newpassword">새 비밀번호</label></aside>
                        <input type="password" id="newpassword"/><br>
                    </div>
                    <div class="edit_user">
                   		<aside><label for="passwordconfirm">비밀번호 확인</label></aside>
                        <input type="password" id="passwordconfirm"/><br>
                    </div>
                </form>
                <button type="button" class="submit_btn" id="btn-create">제출</button>


            </div>
			
		</article>
		</div>
	
	</div>
	</section>
{{>layout/footer}}
	<script>
		$('#profile_btn').click(function(){
	    	$('.profile_Input').click();
		});
	</script>
</body>
</html>