<!DOCTYPE html>
<html lang="en">
<head>
    {{>/include/header}}
    <style>

        .b_inner .contents_box{
            float: none;
            display: flex;
            justify-content: center;
        }
    </style>

</head>
<body>


<section id="container">

    {{>layout/navigator}}

    <div id="main_container">
            <div class="contents_box">
                <form action="/follow/{{id}}" method="POST">
                    followTest</br>
                    formUser: aaa</br>
                    toUser: bbb</br>

                </form>
            </div>
    </div>

</section>

<!--<script src="js/insta.js"></script>-->
</body>
</html>>