<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Title</title>

        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <link rel="stylesheet" href="/css/RoomList.css">
</head>
<body>
{{>layout/navigator}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="chat_list_wrap">
    <div class="header">
        Clone_Codeing
        {{#user}}
        <input type="hidden" id ="username" value="{{username}}">현재 사용자 :{{username}}</input>
        {{/user}}
    </div>
    <div class="list">
        <ul>
            {{#chat}}
            <li>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="profile_td">
                            <!--Img-->
                            <img src="/imgs/instagram.png" />
                        </td>
                        <td class="chat_td">
                            <!--Email & Preview-->
                            <div class="email">
                                {{name}}
                                <input type="hidden" id="id" value="{{roomId}}">
                                <input type="button" id="gogo" class="button"  value="Enter">
                            </div>
                        </td>

                    </tr>
                </table>
            </li>
            {{/chat}}

        </ul>
    </div>
</div>
<!--
    {{#user}}
    <input type="hidden" id ="username" value="{{username}}">현재 사용자 :{{username}}</input>
    {{/user}}
    <h1> User Room </h1>
    <div class="row">
        <div class="col-md-12">
            <h3>채팅방 리스트</h3>
        </div>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">방제목</label>
        </div>
    </div>
    <div>
    <ul class="list-group">
        {{#chat}}
        <li class="list-group-item list-group-item-action" >
                        {{roomId}}
&lt;!&ndash;            <a href="/chat/room/{{roomId}}"> {{name}} </a>&ndash;&gt;
            <input type="hidden" id="id" value="{{roomId}}">
            <input type="button" id="gogo" value="gogo">
        </li>
        {{/chat}}
    </ul>
    </div>-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/JS/chattingJs.js"></script>
</body>
</html>