<!DOCTYPE html>
<html lang="en">
<head>
	{{>layout/header}}
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>


<section id="container">
{{>layout/navigator}}
    <div id="main_container">

        <div class="form_container">

            <div class="form">


                <h1 class="sprite_insta_big_logo title"></h1>

                <form> <!-- Controller에서 회원가입 로직을 처리할 예정 -->
                    <p class="login_user_name">
                        <input type="text" id="user_id" placeholder="사용자 계정"  autofocus /> <br/>
                    </p>
                    <p class="login_user_name">
                        <input type="text" id="email" placeholder="이메일 주소"/><br>
                    </p>
                    <p class="login_user_name">
                        <input type="text" id="name" placeholder="성명"/><br>
                    </p>
                    <p class="login_user_name">
                        <input type="password" id="password" placeholder="비밀번호"/> <br/>
                    </p>
                </form>
                <button type="button" class="submit_btn" id="btn-create">가입</button>



            </div>

            <div class="bottom_box">
                <div>
                    <span>계정이 있으신가요?</span><a href="/loginForm">로그인</a>
                </div>
            </div>


        </div>

    </div>


</section>
{{>layout/footer}}
<script src="/js/createUser.js"></script>
</body>
</html>