<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>


<section id="container">
    {{>layout/navigator}}
    <div id="main_container">

        <div class="form_container">

            <div class="form">


                <h1 class="sprite_insta_big_logo title"></h1>
                <form> <!-- Controller에서 회원가입 로직을 처리할 예정 -->
                    {{#users}}
                    <input type="hidden" id="id" value="{{id}}"></br>
                    {{/users}}
                    <p class="login_user_name">
                        <input type="password" id="password" placeholder="비밀번호"/> <br/>
                    </p>
                </form>
                <button type="button" class="submit_btn" id="btn-delete">회원탈퇴하기</button>



            </div>

        </div>


    </div>


</section>
{{>layout/footer}}
<script src="/js/createUser.js"></script>
</body>
</html>






















<!--
<div>
    {{#room}}
    <h2>{{id}}</h2><br>
    <h2>{{roomId}}</h2><br>
    <h2>{{name}}</h2><br>
    {{/room}}
</div>

<div class="row">
    <div class="col-md-12">
        <table id="conversation" class="table table-striped">
            <thead>
            <tr>
                <th>Communication</th>
            </tr>
            </thead>
            <tbody id="greetings">  &lt;!&ndash;여쪽 row 증가.&ndash;&gt;
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <div class="form-group">
            <label>Input Message</label>
            &lt;!&ndash;                <input type="text" id="msg" class="form-control" placeholder="message.." />&ndash;&gt;
        </div>
        &lt;!&ndash;            <button id="chatSend" class="btn btn-default" type="button">Chat Send</button>&ndash;&gt;
    </div>
</div>
</div>
-->





